@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rubik+Bubbles&display=swap');
@keyframes animação{
    0%  {transform: rotate(0deg); left: 0px; top: 25px;}
    50% {transform: rotate(359deg);left: 700px; top: 25px}
    100% {transform: rotate(0); left: 0; top: 25px;}
}
@keyframes animação300{
    0%  {transform: rotate(0deg); left: 0px; top: 25px;}
    50% {transform: rotate(359deg);left: 300px; top: 25px}
    100% {transform: rotate(0); left: 0; top: 25px;}
}
@keyframes anim{
25% {opacity: 1;}
50% {opacity: 0;}
}
*{  margin: 0; padding: 10;}
body{
    background-color: #070922;
}


#Menu ul{
    max-width: 800px;
    display: inline;
}
#Menu ul li{
    font-family: 'Rubik Bubbles', cursive;
    color: #f0ffff;
    padding: 0px; /*distancia das letras*/
    display: flow-root;
    font-size: 20px;
}

#Menu ul li a{
    padding: 50px;
    display:flow-root;
    color: aqua;
    text-decoration:none;
    transition:all .4s;
    
}
#Menu ul li a:hover{
    color: rgb(97, 243, 0); /*Muda cor da fonte ao passar em cima*/
    background-color:rgb(19, 1, 20);
}
#Menu ul li a:last-child{
    float: center;
}
#imagem {
    width: 150px;
    height: 150px;
    position:relative;
    animation-name: animação;
    animation: animação 15s linear infinite;
}
#titulo1 {
    position: absolute;
    left: 200px; 
    top: 400px;
}
#sliders img {
    top: 570px;
    width: 700px;
    height: 700px;
    opacity: 0;
    position: absolute;
    animation-name: anim;
    animation-duration: 27s;
    animation-iteration-count: infinite;
}
#profile img{
    width: 400px;
    height: 400px;
}
.foto:nth-child(1){
    animation-delay: 6s;
}
.foto:nth-child(2){
    animation-delay: 13;
}
.foto:nth-child(3){
    animation-delay: 19s;
}
.IFk_Web_Auto_Info{
    display: none;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(19, 1, 20);
    position: absolute;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    top: 105px;
    left: 60px;
  }
.IFk_YT_Down{
    display: none;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(19, 1, 20);
    position: absolute;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    top: 222px;
    left: 60px;
}
#sobreodev {
    position: relative;
    top: 900px;
    left: 50px;
    background-color: rgb(10, 6, 20);
    border-radius: 10px;
    width: 800px;
    height: 890px;
}
#biograpy {
    color: rgb(255, 255, 0); 
    font-size: 24px;
}
#foto1 {
    border-radius: 150px;
    position: relative;
    left: 250px;
    top: 50px; 
    height: 150px;
    width: 150px;
}
#foto2 {
    border-radius:150px;
    position: absolute ;
    left: 340px; 
    top: 780px;
    height: 50px;
    width: 50px;
}
@media (max-width: 700px){
    #sobreodev {
        position: relative;
        top: 600px;
        left: 0px;
        background-color: rgb(2, 1, 3);
        border-radius: 50px;
        width: 485px;
        height: 700px;
    }
    #biograpy {
        color: rgb(32, 247, 25); 
        font-size: 14px;
    }
    #foto1 {
        border-radius: 150px;
        position: relative;
        left: 150px;
        top: 50px; 
        height: 150px;
        width: 150px;
    }
    #imagem {
        width: 150px;
        height: 150px;
        position:relative;
        animation-name: animação300;
        animation: animação300 15s linear infinite;
    }
    #sliders img {
        top: 560px;
        left: 10px;
        width: 500px;
        height: 500px;
        opacity: 0;
        position: absolute;
        animation-name: anim;
        animation-duration: 27s;
        animation-iteration-count: infinite;
    }
}
